/*

	Coloreye Stylesheet

		.class
		#id

*/

/*/////////////////////////////////////////////////////////////////////////////////////
//		Main
/////////////////////////////////////////////////////////////////////////////////////*/


* {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12;
}

body {
	color: var(--color-icon);
	background-color: var(--color-background-dark);

    margin: 0;
    overflow: auto;
    text-align: center;
}

.title {
	margin: auto;
}

#mainBox {
	background-color: var(--color-background-light);
	margin: auto;
    padding: 5px;
	width: 50%;
	display: flex;
}

#colorWheel {
	background-color: blanchedalmond;
	width: var(--wheel-size);
	height: var(--wheel-size);
}

#sliders {
	background-color: transparent;
	margin: auto;	
	display: flex;
}

/*/////////////////////////////////////////////////////////////////////////////////////
//		Slider
/////////////////////////////////////////////////////////////////////////////////////*/

:root {
	--color-icon: #08f;
	--color-background-dark: #222;
	--color-background-light: #444;

	--wheel-size: 200px;

	--slider-box-width: 50px;
	--slider-box-height: 220px;

	--slider-height: 150px;
	--slider-width: 6px;

	--slider-thumb: 20px;
}

.sliderBox {
	background-color: transparent;
	width: var(--slider-box-width);
	height: var(--slider-box-height);
}
	.slider {
		-webkit-appearance: none;
		appearance: none;
		width: var(--slider-height);
		height: var(--slider-width);
		border-radius: 5px;
		background: var(--color-background-dark);
		outline: none;
		opacity: 0.7;
		-webkit-transition: .2s;
		transition: opacity .2s;

		position: relative;
		left: calc(0px - (var(--slider-height) / 2) + (var(--slider-box-width) / 2));
		top: calc((var(--slider-box-height) / 2) - (var(--slider-thumb) / 2));
		/* transform: rotateZ(270deg); */
		transform: rotate(270deg);
	}
	.slider:hover {
		opacity: 1;
	}
		.slider::-webkit-slider-thumb, .slider::-moz-range-thumb {
			-webkit-appearance: none;
			appearance: none;
			width: var(--slider-thumb);
			height: var(--slider-thumb);
			border-radius: 50%; 
			background: var(--color-icon);
			cursor: pointer;
		}