/*

	Coloreye Stylesheet

		.class
		#id

*/

/*/////////////////////////////////////////////////////////////////////////////////////
//		Main
/////////////////////////////////////////////////////////////////////////////////////*/

* {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12;
}

body {
	color: #08f;
	background-color: #222;

    margin: 0;
    overflow: auto;
    text-align: center;
}

.title {
	margin: auto;
}

#mainBox {
	background-color: #444;

	margin: auto;
    padding: 5px;
	width: 50%;

	display: flex;
}

#colorWheel {
	background-color: blanchedalmond;

	width: 200px;
	height: 200px;
}

#sliderBox {
	background-color: black;
	
	width: 100%;
	
}

/*/////////////////////////////////////////////////////////////////////////////////////
//		Slider
/////////////////////////////////////////////////////////////////////////////////////*/

/* The slider itself */
.slider {
	-webkit-appearance: none;  		/* Override default CSS styles */
	appearance: none;
	width: 100%;					/* Full-width */
	height: 25px; 					/* Specified height */
	background: #d3d3d3;
	outline: none; 					/* Remove outline */
	opacity: 0.7; 					/* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: .2s; 		/* 0.2 seconds transition on hover */
	transition: opacity .2s;
}
	/* Mouse-over effects */
	.slider:hover {
		opacity: 1; 					/* Fully shown on mouse-over */
	}

	/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
	.slider::-webkit-slider-thumb {
		-webkit-appearance: none; 		/* Override default look */
		appearance: none;
		width: 25px; 					/* Set a specific slider handle width */
		height: 25px; 					/* Slider handle height */
		border-radius: 50%; 
		background: #04AA6D;          /* Green background */
		cursor: pointer;                /* Cursor on hover */
	}

	.slider::-moz-range-thumb {
		width: 25px;                    /* Set a specific slider handle width */
		height: 25px;                   /* Slider handle height */
		border-radius: 50%;
		background: #04AA6D;          /* Green background */
		cursor: pointer; 				/* Cursor on hover */
	}


#slider-container {
	width: 20px;
	height: 325px;
	margin: 100px;
	margin-top: 30px;
	background: #26AFE3;
	/* Safari 3-4, iOS 1-3.2, Android 1.6 */
	-webkit-border-radius: 20px 20px 20px 20px;
	/* Firefox 1-3.6 */
	-moz-border-radius: 20px 20px 20px 20px;
	/* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
	border-radius: 20px 20px 20px 20px;
}

#slider-bar {
	width: 100%;
	height: 100%;
	background: #E6E6E6;
	/* Safari 3-4. iOS 1-3.2, Android 1.6 */
	-webkit-border-radius: 20px 20px 20px 20px;
	/* Firefox 1-3.6 */
	-moz-border-radius: 20px 20px 20px 20px;
	/* Opera 10.5, IE9, Safari 5, Chromer, Firefox 4, iOS 4, Android 2.1+ */
	border-radius: 20px 20px 20px 20px;
}

#slider-handle {
	width: 25px;
	height: 25px;
	background: #7C7D82;
	position: relative;
	left: -2.5px;
	top: -10px;
	/* Safari 3-4, iOS 1-3.2, Android 1.6 */
	-webkit-border-radius: 2px 20px 20px 20px;
	/* Firefox 1-3.6 */
	-moz-border-radius: 20px 20px 20px 20px;
	/* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
	border-radius: 20px 20px 20px 20px;
}