/*

	Coloreye Stylesheet

		.class
		#id

*/

/*/////////////////////////////////////////////////////////////////////////////////////
//		Main
/////////////////////////////////////////////////////////////////////////////////////*/

* {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12;
}

body {
	color: #08f;
	background-color: #222;

    margin: 0;
    overflow: auto;
    text-align: center;
}

.title {
	margin: auto;
}

#mainBox {
	background-color: #444;

	margin: auto;
    padding: 5px;
	width: 50%;

	display: flex;
}

#colorWheel {
	background-color: blanchedalmond;

	width: 200px;
	height: 200px;
}

#sliderBox {
	background-color: black;
	
	width: 100%;
	
}

/*/////////////////////////////////////////////////////////////////////////////////////
//		Slider
/////////////////////////////////////////////////////////////////////////////////////*/

#slider-container {
	width: 20px;
	height: 325px;
	margin: 100px;
	margin-top: 30px;
	background: #26AFE3;
	border-radius: 20px 20px 20px 20px;
}

#slider-bar {
	width: 100%;
	height: 100%;
	background: #E6E6E6;
	border-radius: 20px 20px 20px 20px;
}

#slider-thumb {
	width: 25px;
	height: 25px;
	background: #7C7D82;
	position: relative;
	left: -2.5px;
	top: -10px;
	border-radius: 20px 20px 20px 20px;
}