:root {
	--color-icon: #08f;
	--color-shadow: #111;
	--color-background-dark: #222;
	--color-background-light:#444;

	--display-width: 900px;
	--display-radius: 20px;

	--wheel-size: 250px;
	--mouse-circle-size: 10px;

	--color-width: 120px;
	--color-height: 120px;
	--color-radius: 120px;

	--slider-box-width: 35px;
	--slider-box-height: 170px;

	--slider-height: 150px;
	--slider-width: 5px;
	--slider-thumb: 18px;
}

* {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12;
}

body {
	color: var(--color-icon);
	background-color: var(--color-background-dark);
    margin: 0;
    overflow: auto;
    text-align: center;
}

.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
 }

.contentBox {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, 0%);
}

.title {
	margin: auto;
	padding: 5px;
}

.centerBox {
	background-color: var(--color-background-light);
	border-radius: var(--display-radius);
	margin: 20px auto 20px auto;
    padding: 5px;
	width: var(--display-width);
	display: flex;
	align-items: center;
}

.centerBoxDark {
	background-color: var(--color-background-dark);
	border-radius: var(--display-radius);
	margin: auto;
    padding: 0px;
	width: var(--display-width);
	/* display: flex;
	align-items: center; */
}

.flexBoxLeft {
	background-color: var(--color-background-light);
	border-radius: 10px;
	left: 0;
    padding: 5px 2px 5px 2px;
	width: 42%;
	position: absolute;
}

.flexBoxRight {
	background-color: var(--color-background-light);
	border-radius: 10px;
	right: 0;
    padding: 5px 2px 5px 2px;
	width: 42%;
	position: absolute;
}

.horizontalRow {
	display: flex;
	align-items: center;
}

.colorSquare {
	background-color: white;
	border: 0px solid;
	border-radius: 8px;
	margin: auto;
	width: 37px;
	height: 30px;
}

.colorWheel {
	background-color: var(--color-background-light);
	border-radius: calc(var(--wheel-size) / 2);
	overflow: auto;
	border: 2px solid;
	border-color: var(--color-background-light);
	width: var(--wheel-size);
	height: var(--wheel-size);
	margin: auto;
}

.colorCircle {
	background-color: transparent;
	border: 2px solid;
	border-color: var(--color-background-dark);
	width: var(--mouse-circle-size);
	height: var(--mouse-circle-size);
	border-radius: var(--mouse-circle-size);
	position: absolute;
}

/********** SLIDER **********/

#sliders {
	background-color: transparent;
	margin: auto;
	display: flex;
  	align-items: center;
}
	#colorBox {
		background-color: red;
		border-radius: var(--color-radius);
		width: var(--color-width);
		height: var(--color-height);
	}
	.sliderBox {
		background-color: transparent;
		width: var(--slider-box-width);
		height: var(--slider-box-height);
	}
		.slider {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			width: var(--slider-height);
			height: var(--slider-width);
			border-radius: 5px;
			background: var(--color-background-dark);
			outline: none;
			opacity: 0.75;
			position: relative;
			margin: 0;
			left: calc(0px - (var(--slider-height) / 2) + ((var(--slider-box-width) / 2)));
			top: calc((var(--slider-box-height) / 2) - ((var(--slider-thumb)) / 2));
			transform: rotate(-90deg);
		}
		.slider:hover {
			opacity: 1;
		}
			.slider::-moz-range-thumb {
				-moz-appearance: none;
				width: var(--slider-thumb);
				height: var(--slider-thumb);
				border: 2px solid;
				border-color: var(--color-background-light);
				border-radius: 50%;
				background: var(--color-icon);
				cursor: pointer;
			}

			.slider::-webkit-slider-thumb {
				-webkit-appearance: none;
				width: var(--slider-thumb);
				height: var(--slider-thumb);
				border: 2px solid;
				border-color: var(--color-background-light);
				border-radius: 50%;
				background: var(--color-icon);
				cursor: pointer;
			}
			.slider::-webkit-slider-thumb:hover {
				border: 2px solid;
				border-color: var(--color-background-dark);
			}
